* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  background: #dae0e6;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 0 20px;
  height: 50px;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.reddit-icon {
  width: 32px;
}
.reddit-icon-text {
  height: 18px;
}
#form-search {
  background: #f4f4f5;
  line-height: 38px;
  max-width: 40%;
  flex: 1;
  padding: 0 10px;
  margin: 0 30px;
  border-radius: 3px;
}
#search {
  padding-left: 5px;
  background: #f6f7f8;
  font-size: 14px;
}
.btn-user-log-in {
  background: none;
  border: 1px solid #0079d3;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #0079d3;
  border-radius: 50px;
}
.btn-user-sign-up {
  background: #0079d3;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
}
#user {
  display: flex;
  gap: 15px;
}
#user-profile {
  background: none;
}
.fa-user {
  transform: scale(1.5);
  color: #7e7373;
}
.fa-chevron-down {
  color: #7e7373;
}
button,
select {
  cursor: pointer;
}
.fa-magnifying-glass {
  color: #7e7373;
}
main {
  width: 90vw;
  margin: auto;
  padding: 15px;
}
.defining-content {
  font-size: 14px;
  color: #1a1a1b9f;
  padding-bottom: 10px;
}
#trending-today-container {
  display: flex;
  gap: 10px;
}
.trending-card {
  border: 1px solid crimson;
  padding: 10px;
  background: rgba(85, 107, 47, 0.521);
  border-radius: 15px;
}
.trending-title {
  padding-top: 100px;

  font-size: 18px;
}
.trending-content {
  font-size: 14px;
  padding: 2px 0 5px 0;
}
.trending-subreddits {
  font-size: 12px;
}
#main-sub-container {
  padding: 20px 0;
}
#feed-selection {
  background: #ffffff;
  padding: 0 20px;
  margin: 20px 0;
  border-radius: 3px;
}
.btn-filter {
  font-size: 14px;
  padding: 5px 10px;
  color: #0079d3;
  background: #f6f7f8;
  margin: 10px 0;
  border-radius: 15px;
  font-weight: 600;
}
.feed-card {
  background: #ffffff;
  border-radius: 3px;
  padding: 15px;
}
