* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #dae0e6;
  padding-top: 50px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 0 20px;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.reddit-icon {
  width: 32px;
}
.reddit-icon-text {
  height: 18px;
}
#form-search {
  background: #f4f4f5;
  line-height: 38px;
  max-width: 40%;
  flex: 1;
  padding: 0 10px;
  margin: 0 30px;
  border-radius: 3px;
}
#search {
  padding-left: 5px;
  background: #f6f7f8;
  font-size: 14px;
}
.btn-user-log-in {
  background: none;
  border: 1px solid #0079d3;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #0079d3;
  border-radius: 50px;
}
.btn-user-sign-up {
  background: #0079d3;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
}
#user {
  display: flex;
  gap: 15px;
}
#user-profile {
  background: none;
}
.fa-user {
  transform: scale(1.5);
  color: #7e7373;
}
.fa-chevron-down {
  color: #7e7373;
}
button,
select {
  cursor: pointer;
  background: transparent;
}
.fa-magnifying-glass {
  color: #7e7373;
}
main {
  width: 90vw;
  max-width: 640px;
  margin: auto;
  padding: 15px;
}
.defining-content {
  font-size: 14px;
  color: #1a1a1b9f;
  padding-bottom: 10px;
}
#trending-today-container {
  display: flex;
  gap: 10px;
}
.trending-card {
  border: 1px solid crimson;
  padding: 10px;
  background: rgba(85, 107, 47, 0.521);
  border-radius: 15px;
}
.trending-title {
  padding-top: 100px;

  font-size: 18px;
}
.trending-content {
  font-size: 14px;
  padding: 2px 0 5px 0;
}
.trending-subreddits {
  font-size: 12px;
}
#main-sub-container {
  padding: 20px 0;
}
#feed-selection {
  background: #ffffff;
  padding: 0 20px;
  margin: 20px 0;
  border-radius: 3px;
}
.btn-filter {
  font-size: 14px;
  padding: 5px 10px;
  background: none;
  color: #878a8c;
  border-radius: 15px;
  margin: 10px 0;
  font-weight: 600;
}
.feed-card-main {
  background: #ffffff;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}
.feed-card-main > img,
.feed-card-main > video {
  max-width: 100%;
}

.btn-clicked {
  color: #0079d3;
  background: #e9eaeb;
}
.score-container {
  padding: 5px;
  font-weight: 600;
}
.score-container > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-container-popup {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom: none;
  padding-inline: 10px;
  gap: 5px;
}
.card {
  margin-block: 10px;
  border-radius: 3px;
  display: flex;
  background: #f8f9fa;
}
.card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.sub-auth {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}
.card-footer {
  background: #ffffff;
  display: flex;
  gap: 10px;
}
.awards-icon {
  width: 16px;
}
.blur {
  filter: blur(1rem);
}
.top-display-hidden {
  display: none;
}
.top-display {
  display: inline-block;
}
nav {
  position: fixed;
  bottom: 10px;
  right: 3vw;
}
#back-to-top {
  background: #0079d3;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
}

a:hover {
  text-decoration: underline;
}
.footer-icons {
  padding: 5px;
}
.footer-icons:hover {
  background: #e7e7e7;
}
.comment-container {
  background: #ffffff;
  border: 1px solid gray;
  border-right: none;
  border-left: none;
  padding-block: 5px;
}
.clicked-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.678);
}
.clicked {
  width: 70vh;
  cursor: default;
  min-height: 50vh;
}
.pop-up-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background: black;
  color: #dae0e6;
  padding: 15px 50px;
}
.pop-up-header > * {
  color: #dae0e6;
}
.pop-up-card-container {
  background: #eeeeee;
  padding: 50px;
}
.pop-close {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-popped {
  margin-block: 10px;
  border-radius: 3px;
  display: flex;
  background: #f8f9fa;
}
.score-container-popped {
  padding: 5px;
  font-weight: 600;
  background: #ffffff;
}
.score-container-popped > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments {
  border: none;
  font-size: 14px;
}
.display-none {
  display: none;
}
i:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
@media (max-width: 960px) {
  #back-to-top {
    display: none;
  }
}
